html, body
{
  background-color: #FFFFFF;
}

div#logout
{
  float: right;
}

div#calendarList
{
  display: inline;
}

aside#calendar
{
  float: left;
}

object#calendarContent
{
  width: 800px;
  height: 500px;
  padding-right: 50px;
}

aside#foreignusers
{
  float: right;
}

section#managing
{}
