html, body
{
  background-color: #FFFFFF;
}

div#logout
{
  float: right;
}

div#calendarList
{
  display: inline;
}

aside#calendar
{
  float: left;
  text-align: center;
}

aside#eventInfo
{
  float: right;
}

aside#foreignusers
{
  float: right;
}

