<!DOCTYPE html>
<html>
	<body>
		<header>
	        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/calendar.css'}" />
			<h1>${calendar.getName()}</h1>
		</header>
		<article>
			<aside id="eventInfo">
				EventInfo
			</aside>

			<table id="calendarTable" border="1">
				#{list items:calendarNames, as :'calendarName'}
				<a href="@{Application.listEventsFromCalendar(calendarName)}">${calendarName}</a>
				#{/list}
			  <thead>
			    <th colspan="2">Back</th>
			    <th colspan="3">${year}, ${month}</th>
			    <th colspan="3">Forward</th>
			  </thead>
			  <tr>
			    <td colspan="8">-----------------------------------------</td>
			  </tr>
			  <tr>

				#{list items:numbers, as :'id'}
					<tr>
					#{list items:realList.get(id++), as: 'day'}
					  	<td>
						  	#{if day.isToday()}
						  		<div id="today">
						  			${day.toString()}
						  		</div>
						  	#{/if}
						  	#{else}
						  		${day.toString()}
						  	#{/else}
					  	</td>
			  		#{/list}
					</tr>
				#{/list}

			  </tr>
			
  			</table>
		</article>
	</body>
</html>
