<!DOCTYPE html>
<html>
	<body>
	    <header>
	        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/index.css'}" />
			<h1>CalendarApp: Home of user ${userName}</h1>
	    </header>
		<nav>
		<hr>
			<div id="logout">
			<a href="@{Secure.logout()}">Logout</a>
			</div>
	
			<div id="calendarList">
			#{if !calendarNames.isEmpty()}
				<ul>
					#{list items:calendarNames, as :'calendarName'}
						<a href="@{Application.listEventsFromCalendar(calendarName)}">${calendarName}</a>
					#{/list}
				</ul>
			#{/if}
			#{else}
				</br>
				No calendars available!
			#{/else}
			</div>
		<hr>
		</nav>
	
	    <article>
	    	<section>
	    		<aside id="calendar">
					<div class="calendar.html">
					#{if !calendarNames.isEmpty()}
						<object width="700px" height="500px" type="text/html" data=@{Application.calendar(calendarNames.get(0), 10, 10, 2011)}>					
							<a href=@{Application.calendar(calendarNames.get(0))}>Calendar</a>
						</object>
					#{/if}
					#{else}
						</br>
						No calendars available!
					#{/else}
					</div>
	    		</aside>
	
	    		<aside id="foreignusers">
					<h2>See a users calendar</h2>
					The following users are available:
					<ul>
						#{list items:allUserNames, as :'user'}
							<li>
								<a href="@{Application.showCalendars(user)}">
									${user}
								</a>
							</li>
							<p>
						#{/list}
					</ul>
					<hr>
				</aside>
				<p>
	    	</section>
			<section id="managing">
				</br>
				<h2>Manage calendars</h2>
				<p>
				<h3>Create new calendar</h3>
				<form action = "@{Application.createNewCalendar()}" method = "POST">
					Calendar name:
					<input type = "text" name = "calendarName"/>
					<input type = "submit" value="Create new calendar"/>
				</form>
				<p>
				<h3>Delete calendar</h3>
				<form action = "@{Application.deleteCalendar()}" method = "POST">
					Calendar name:
					<input type = "text" name = "calendarName"/>
					<input type = "submit" value="Delete calendar"/>
				</form>
				<p>
			</section>
		</aricle>
	</body>
</html>