#{extends 'main.html' /}
#{set title:'CalendarApp' /}
<h1>CalendarApp</h1>
<p>


</br>
#{if !events.isEmpty()}
These are the public events of ${userName}'s calendar ${calendarName}:
<p>
	<ul>
		<li>
			#{list items:events, as :'event'}
			Name: ${event.getEventName()}
			</br>
			Start: ${event.getStartDate()}
			</br>
			End: ${event.getEndDate()}
			
			<p>
			
			#{/list}
		</li>
</ul>
#{/if}
#{if events.isEmpty()}
	No public events for the given date!
#{/if}

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}




<h2><a href="@{Secure.logout()}">Logout</a></h2>
